.logo{
    animation-name: logo;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    width: 100px;
    height: 100px;
     box-shadow: 5px 5px 5px;
     animation-iteration-count: infinite;
     border-radius: 50%;
 }
 @keyframes logo {
     0%{
         background-color: aqua;
     }
     25%{background-color: blue;}
     50%{background-color: black;}
     75%{
         background-color: chartreuse;
 
     }
     100%{
         background-color: gold;
     }
     
 }
 nav ul{
     list-style-type: none;
 
 }
 nav ul li{
     display: inline;
     padding: 10px;
 }
 nav ul li a{
     color: black;
     text-decoration: none;
     font-size: 30px;
     font-family: Roboto;
     position: relative;
     left: 150px;
     top: -90px;
 } 
 .home{
    text-align: center;
    font-size: 30px;
    background-color: green;
    height: 150vh;
 }
 .volkswagen{
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 100px;
    transition: 2s;
    

 }
 .honda{
    width: 400px;
    height: 430px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 100px;
    transition: 2

 }
 .mercedes{
   width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 600px;
    top: -900px; 
    


 }
 .bmw{ width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 600px;
    top: -900px; 
 }
 .chevrolet{
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 1100px;
    top: -1760px;

 }
 footer{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: chartreuse;
    height: 400px;
    
    
}
footer a{
    color: black;
    text-decoration: non;
    display: block;
    column-count: 2;
    text-align: center;
    position: relative;
    text-align: center;
    left: 440px;
}
footer h2{
    position: relative;
    text-align: center;

}
footer h3{
    position: relative;
    font-size: 20px;
    width: 100%;

}
 